{% load base.html%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="{% static 'css/webfonts/all.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="{% static 'jquery-3.4.1.min.js' %}"></script>
	  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </head>
    <body>
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Employment Tracking System</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="header">
          <h3>Your account is successfully created</h3>
          <div class="row btns">
              <a href="{% url 'index' %}" class="btn col-4">Goto Homepage</a>
              <input type="button" class="btn col-4 btn2" value="Login" data-toggle="modal" data-target="#exampleModal">
          </div>
       </div>

      <div class="modal" id="exampleModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <p class="text-center">Login</p>
              <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <input class="form-control" type="text" placeholder="User name" name="username" required>
                <input class="form-control" type="password" placeholder=" Password" name="password" required>
                <input class="form-control" type="submit" value="Login" id="bt">
                <div class="row">
                    <input class="col-1" type="checkbox">
                    <p class="col">Remember me</p>
                    <p class="col">Forgot <span class="pass">Password</span></p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <script>
        $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
        })

        $('#bt').click(function () {
            $(".col").fadeToggle(2000);
        })

      </script>

    </body>
</html>